In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

We  will use  2 datasets for demonstation purposes.

1. heart_disease - a classification dataset (predicting whether someone has heart disease or not)
2. boston_df - a regression dataset (predicting the median house prices of cities in Boston)

In [2]:
# Classification data
heart_disease = pd.read_csv("../13.1 heart-disease.csv")
# Regression data
from sklearn.datasets import fetch_california_housing
boston = fetch_california_housing() # loads as dictionary
# Convert dictionary to dataframe
boston_df = pd.DataFrame(boston['data'],columns=boston['feature_names'])
boston_df['target'] = pd.Series(boston['target'])

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
boston_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

# 1. Get Data Ready

In [5]:
# Split data into X & y
X = heart_disease.drop('target', axis=1) # use all columns except target
y = heart_disease['target'] # we want to predict y using X

In [7]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
# Example use case (requires X & y)
X_train, y_train, X_test, y_test= train_test_split(X,y)

# 2. Pick a model/estimator (to suit your problem)

To  pick a model we use the Sciket-Learn machine learning map https://scikit-learn.org/stable/machine_learning_map.html

In [8]:
# Random Forest classifier (for classification problems)

# Instantiating a Random Forest Classifier (clf short for classifier)

In [ ]:
# Random Forest Regressor (for Regression problems)

# Instantiating a Random Forest Regressor